<footer id="footer">
  <div class="social">
    <%= link_to image_tag('icon_twitter.png', alt: 'Twitter logo'), 'https://twitter.com/perkycrow1', target: '_blank' %>
    <%= link_to image_tag('icon_github.png', alt: 'GitHub logo'), 'https://github.com/Perky-Crow', target: '_blank' %>
    <%= link_to image_tag('icon_instagram.png', alt: 'Instagram logo'), 'https://www.instagram.com/perkycrow/', target: '_blank' %>
    <%= link_to image_tag('icon_discord.png', alt: 'Discord logo'), 'https://discord.gg/ppTB595Yec', target: '_blank' %>
  </div>

  <p>This website doesn't retain any of your data, not even analytics.</p>

  <p>
    <%= link_to "Legal notice", legal_notice_path %> |
    <%= link_to "Source code", "https://github.com/Perky-Crow/perkycrow_com", target: '_blank' %> |
    <%= link_to "Sitemap", sitemap_path(format: :xml) %>
  </p>
</footer>