<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= page_description %>">
    <meta name="keywords" content="<%= page_keywords %>">
    <meta name="author" content="PerkyCrow">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="favicon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header id="header">
      <div class="logo">
        <%= link_to image_tag('perkycrow_logo.png'), root_path, title: 'PerkyCrow Logo', alt: 'A crow with a hat and a monocle' %>
      </div>

      <h1 class="tagline">
        telling tales through <strong>indie games</strong>
      </h1>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <footer id="footer">

      <div class="social">
        <%= link_to image_tag('icon_twitter.png'), 'https://twitter.com/perkycrow1', target: '_blank', alt: 'Twitter logo' %>
        <%= link_to image_tag('icon_github.png'), 'https://github.com/Perky-Crow', target: '_blank', alt: 'GitHub logo' %>
        <%= link_to image_tag('icon_instagram.png'), 'https://www.instagram.com/perkycrow/', target: '_blank', alt: 'Instagram logo' %>
        <%= link_to image_tag('icon_discord.png'), 'https://discord.gg/ppTB595Yec', target: '_blank', alt: 'Discord logo' %>
      </div>

      <p>This website does not use cookies and doesn't retain any of your data, not even analytics.</p>

      <p>
        <%= link_to "Legal notice", legal_notice_path %> |
        <%= link_to "Source code", "https://github.com/Perky-Crow/perkycrow_com", target: '_blank' %>
      </p>

    </footer>


  </body>
</html>
